<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="style.css">

  <%if(userid!=null&&sessionid!=null){%>
<!DOCTYPE html>
<html>
<head>
  <title>Bank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <style type="text/css">
    body {
      font-family: "Roboto";
    }
    .nav-wrapper {
      background-color: #01579b;
    }
    .brand-logo {
      margin-left: 10px;
      font-family: "Roboto";
      font-weight: 300;
    }
    .home {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="home card-panel">
      <form method="post" action="/mfrontpage">
        <TABLE class="highlight" BORDER=1>
        <TR>
          <TD>Aadhar Number</TD>
      <TD>Name</TD>
      <TD>Email ID </TD>
      <TD>Phone Number</TD>
      <TD>Address</TD>
      <TD>Date of Birth</TD>
      <TD>Gender </TD>
      <TD>PAN Number</TD>
      <TD>Nationality</TD>
        </TR>

        <%
        console.log(requests.length);
        if(requests.length>0){
        for (var i=0;i<requests.length;i++)
        {
          %>
            <TR>
              <TD><%=requests[i].ID%></TD>
          <TD><%=requests[i].AadharNumber%></TD>
          <TD><%=requests[i].Name%></TD>
          <TD><%=requests[i].Email%></TD>
          <TD><%=requests[i].PhoneNumber%></TD>
          <TD><%=requests[i].Address%></TD>
    <TD><%=requests[i].DOB%></TD>
          <TD><%=requests[i].Gender%></TD>
    <TD><%=requests[i].PANNumber%></TD>
          <TD><%=requests[i].Nationality%></TD>
            </TR>
            <%
        }

        %>
      </TABLE>


      
        <%}}%>
    </form>
    
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

<script type="text/javascript">
   $(".button-collapse").sideNav();
</script>
